@using Project_DisKWeb.Models
@model List<Compra>




<h2>Carrinho de Compras</h2>
<hr />


<div class="container-fluid" style=" padding-top: 2%">
    <div class="row">
        <table class="table table-hover">
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Data Incial Aluguel</th>
                <th>Escolha a data de Entrega</th>
                <th>Preço total</th>
                
            </tr>
            @foreach (Compra ExibIcao in Model)
            {
                

                <tr>
                    <td><img src="~/Imagem/@ExibIcao.Produto.Img" alt="Imagem do Produto" style="width:100px; height:100px" /></td>

                    <td>@ExibIcao.Produto.Nome</td>

                    <td>
                        
                        @ExibIcao.Data.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("-", "DiminuirData", "Produto", new { id = ExibIcao.CompraId }, new { @class = "btn btn-danger" })

                        @ExibIcao.DataDevolucao.ToShortDateString()
                        @Html.ActionLink("+", "AumentarData", "Produto", new { id = ExibIcao.CompraId }, new { @class = "btn btn-success" })


                    </td>
                    <td>
                        @{
                            DateTime dataInicial = ExibIcao.Data; DateTime datafinal = ExibIcao.DataDevolucao;

                            TimeSpan date = Convert.ToDateTime(datafinal) - Convert.ToDateTime(dataInicial);

                            int totalDias = date.Days + 1;

                            double subTotal = ExibIcao.Valor * totalDias;
                        }

                        @totalDias * @ExibIcao.Valor = @subTotal
                    </td>
                    

                    <td>
                        <p> @Html.ActionLink("Remover do Carrinho", "RemovendoItem", "Produto", new { id = ExibIcao.CompraId }, new { @class = "text-danger" })</p>
                    </td>


                </tr>


            }
        </table>

        @Html.ActionLink("Finalizar Compra", "FinishCompra", "Produto", new { @class = "btn btn-success" })
    </div>
</div>
