@{
    Project_DisKWeb.Models.Produto

    Detalhe = ViewBag.Mostrar;
}

<h2 style="text-align:center">Detalhes</h2>


<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
    <div class="row">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <img src="~/Imagem/@Detalhe.Img" alt="Imagem do Produto" style="width:600px; height:350px" />

            </div>
        </div>
        <div style="padding-left: 2%; padding-right: 2%;"></div>


        <div class="card" style="width: 40rem; ">
            <div class="card-body">
                <h4 class="card-title">@Detalhe.Nome.ToString().ToUpper()</h4><br />
                <p>
                    <h6 class="card-subtitle mb-2 text-muted">Autor: @Detalhe.Autor</h6>
                    <div class=" row " style="float:right; margin-top:-30px; padding-right:5%">
                        <div>
                            @Html.ActionLink("Alugar: " + @Detalhe.Preco_Aluguel.ToString("C2"), "AddToCart", "Produto", new { id = Detalhe.ProdutoId }, new { @class = "btn btn-success col-md-12" })
                        </div>

                    </div>
                </p>
                <p class="card-subtitle mb-2 text-muted"><label>Qtde Disponivel para alugar: </label> @Detalhe.QTDE_Estoque_aluguel unidades.</p>
                <p class="card-subtitle mb-2 text-muted"><label>Ano Lançamento: </label> @Detalhe.Ano_Lancamento</p>
                <p class="card-subtitle mb-2 text-muted"><label>Descrição: </label> @Detalhe.Descricao</p>




            </div>
        </div>
    </div>
</div>