@using Project_DisKWeb.Models

@{
    List<Project_DisKWeb.Models.Compra> itens = ViewBag.Itens;

    Project_DisKWeb.Models.Endereco
    Endereco = ViewBag.endereco;


    double total = ViewBag.total;

}


<style>
    .boxes {
        display: table;
        width: 50%;
        height: 50%;
    }

    .box {
        display: table-cell;
        text-align: center;
    }

    .box1 {
        background-color: blueviolet;
    }

    p {
        color: white;
    }
</style>

<div class="boxes">
    <div class="box box1">
        <h3>Resumo da Compra</h3>
        <div>
            @foreach (Compra item in itens)
            {
                <p>
                    <label>
                        <b>@item.Produto.Nome</b>
                    </label>
                </p>
                <p>
                    <label>Data de Devolução: </label>
                    <b style="color:white">@item.DataDevolucao.ToShortDateString()</b>
                </p>
                <p>
                    <label> Subtotal:</label>
                    <b style="color:white">@item.Valor.ToString("C2") </b>
                </p>
                <hr class="my-4" style="margin-bottom:10px" />
            }
            <label>Total: </label>
            <b style="color:white">  @total.ToString("C2")</b>
        </div>
    </div>
    <div class="box box2">
        <div>

            <h3><label>Endereço de envio</label></h3>
            <p>@Endereco.Logradouro  - @Endereco.Numero  - @Endereco.Complemento</p>
            <p>@Endereco.Bairro - @Endereco.Cidade - @Endereco.Estado </p>
            <p><label>Recepitor:</label> @Endereco.Usuario.Nome </p>
            <p><label>Cpf:</label> @Endereco.Usuario.Cpf</p>
            <p><label>Telefone Usuário:</label> @Endereco.Usuario.Telefone</p>



        </div>

        <div>
            @Html.ActionLink("Finalizar Compra", "FinalizarCompra", "Produto", new { idUser = Session["UsuarioId"] }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>